/* Add JS timeline library */

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: linear-gradient(to right, #00BFFF, #FF1493);
    height: 100vh;
}

.container {
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border: 1px solid black;
    height: 450px;
    width: 550px;
    position: absolute;
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgba(255, 255, 255, .8);
    border-radius: 25px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.header h2 {
    font-size: 2.1rem;
}

.span-container span {
    font-size: 2.5rem;
    text-align:center;
    align-items: center;
}


.start-btn {
    background: transparent;
    border: none;
    padding: 10px 20px;
    background-color:rgb(203, 71, 255);
    color: #fff;
    border-radius: 10px;
    cursor: pointer;
}

.start-btn:hover {
    background: rgb(203, 110, 240);
    transition: 0.1s ease-in-out linear
}

.stop-btn {
    background: transparent;
    border: none;
    padding: 10px 20px;
    background-color:rgb(203, 71, 255);
    color: #fff;
    border-radius: 10px;
    cursor: pointer;
}

.stop-btn {
    background: transparent;
    border: none;
    padding: 10px 20px;
    background-color:rgb(203, 71, 255);
    color: #fff;
    border-radius: 10px;
    cursor: pointer;
}

.reset-btn {
    background: transparent;
    border: none;
    padding: 10px 20px;
    background-color:rgb(203, 71, 255);
    color: #fff;
    border-radius: 10px;
    cursor: pointer;
}

.reset-btn {
    background: transparent;
    border: none;
    padding: 10px 20px;
    background-color:rgb(203, 71, 255);
    color: #fff;
    border-radius: 10px;
    cursor: pointer;
}